.dynamic-delete-button {
  cursor: pointer;
  font-size: 18px;
  color: #999;
  transition: all 0.3s;
  margin-left: 3px;

  &:hover {
    color: red;
  }
}

.save-icon {
  margin: 5px 0px;
}

.ant-form-item {
  margin-bottom: 2px !important;

  &-children {
    display: flex;
    align-items: center;
  }
}

label {
  font-weight: bold;
}
