.dynamic-delete-button {
  cursor: pointer;
  font-size: 18px;
  color: #999;
  transition: all 0.3s;
  margin-left: 3px;

  &:hover {
    color: red;
  }
}

.dynamic-add-button {
  width: 150px;
  margin-left: 25px;
}

.bullet {
  margin-right: 20px;
}

.save-icon {
  margin: 5px 0px;
}

.ant-legacy-form-item {
  margin-bottom: 2px !important;

  &-children {
    display: flex;
    align-items: center;

    & textarea:before {
      content: '- ';
    }
  }
}

label {
  font-weight: bold;
}
