.dynamic-delete-button {
  cursor: pointer;
  font-size: 18px;
  color: #999;
  transition: all 0.3s;

  &:hover {
    color: red;
  }
}

.save-icon {
  margin: 5px 0px;
}

.ant-form-item {
  margin-bottom: 2px;
}

label {
  font-weight: bold;
}
