/* Colors */
$blue-light: rgba(100, 149, 237, 1);
$blue-dark: rgba(73, 132, 238, 1);

.right {
  float: right;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.collapsed {
  flex-direction: column;
  height: 100% !important;
}

.menuHidden {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.25s ease-out;
}

.menuExpanded {
  display: flex;
  flex-direction: column;
  transition: height 0.25s ease-in;
}

.infoContent {
  width: 300px;
}

.menu {
  display: flex;
  color: white;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  height: 42px;
  width: 100%;
  background: linear-gradient(90deg, $blue-dark 0%, $blue-light 100%);
  padding: 4px 12px 4px 12px;
  margin-block-end: 0px;

  li {
    margin-left: 12px;
    line-height: 2;
  }

  a {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    float: left;
  }

  a:hover {
    color: #ccc;
  }

  .ant-btn {
    &-background-ghost {
      color: #fff;
    }
    color: #888;
    &:hover {
      color: #fff;
    }
    &:active {
      color: #fff;
    }
  }

  .ant-btn-default:hover {
    color: #111;
  }

  h5 {
    text-align: left;
    color: #fff;
  }

  .userIcon {
    color: #ccc;
  }

  &__item > a > h5 {
    line-height: 1.7;
    text-align: left;
  }

  &__item {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 8px;
  }

  .menu__badge {
    box-shadow: 5px;
  }

  .menu__badge .ant-badge-count {
    background-color: #fff;
    color: #222;
    opacity: 0.5;
  }
}

// Animation
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
