.ant-carousel {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: lightgray;
  overflow: hidden;
}

.searchResult {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.searchResult:hover {
  background: #eee;
  cursor: pointer;
}

.paperSearch__result {
  width: 100%;
}

.paperSearch__input {
  display: inline-flex;
  width: 100%;
}

.ant-btn {
  margin-left: 5px;
}
