@import '../../styles/colors.scss';

.review-modal {
  &__table {
    .ant-descriptions-item-label {
      font-weight: bold;
    }
  }

  .ant-alert-info {
    background-color: $primary-background;
    border: 1px solid $primary-lighter;

    .ant-alert-icon {
      color: $primary-color;
    }
  }
}

.action-items {
  // make space for absolutely positioned x icon
  margin-right: 3%;
}
