.width80 {
  width: 80%;
  margin: auto;
}

.searchbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  background: rgb(100, 149, 237);
  background: linear-gradient(
    90deg,
    rgba(73, 132, 238, 1) 0%,
    rgba(100, 149, 237, 1) 100%
  );
}

.menu > li > h5 {
  color: white;
}

.menu__item {
  float: right;
}

.carousel .slick-slide {
  text-align: center;
  background: white;
}

.carousel__content {
  padding: 30px;
}
