
.rome-wrapper{
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin: 200px auto;
}

.form-link-button{
  width: 150px;
  height: 30px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
