$blue-light: rgba(100, 149, 237, 1);
$blue-dark: rgba(73, 132, 238, 1);

.width80 {
  width: 80%;
  margin: auto;
}

.searchbar {
  display: flex;
  justify-content: space-between;
}

.signout {
  color: red;
}
