.vertical-align {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

.text-left {
  text-align: left;
}

.review-lgi:hover {
  cursor: pointer;
}

.nav-tab:hover {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #0275d8 !important;
  font-weight: 700;
}
