h1 h5 {
  color: white;
}

h5 {
  text-align: center;
}

.ant-btn {
  outline: none;
}

.login__bottom-tray {
  background: #ececec;
  padding: 30px;
}

.ant-card {
  height: 100%;
}

.login__lazy-hero {
  overflow: hidden;
}
