$default-padding: 30px;

.login-page {
  .logo {
    width: 40%;
    margin-bottom: 5%;
    filter: invert(45%) sepia(45%) saturate(2204%) hue-rotate(139deg) brightness(96%) contrast(102%);
  }

  .product-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .demo {
      margin-bottom: 30px;
      width: 70%;
    }
  }

  .feature-list {
    text-align: left;
    list-style-image: url('./airplane.png');
    font-size: 1.5em;

    li {
      margin-bottom: $default-padding;
    }
  }
}

.modal-body {
  text-align: center;
  font-size: 1.5em;

  > a {
    width: 240px; // This is the width of the GoogleButton itself
    cursor: unset;

    > div {
      margin: 0 auto;
    }
  }
}
