//  Color definitions
$mint-green: #00b295;
$dark-mint: #009980;
$light-mint: #00bd9d;
$whisper-mint: #00bd9d25;
$loud-whisper-mint: #00bd9d6e;
$gray-1: #ccc;

$primary-color: $mint-green;
$primary-darker: $dark-mint;
$primary-lighter: $light-mint;
$primary-background: $whisper-mint;
$primary-background-darker: $loud-whisper-mint;

$border-color: $gray-1;
