//  Color definitions
$mint-green: #00b295;
$dark-mint: #009980;
$light-mint: #00bd9d;
$gray-1: #ccc;

$primary-color: $mint-green;
$primary-darker: $dark-mint;
$primary-lighter: $light-mint;

$border-color: $gray-1;
