//  Color palette
// ===GREEN===
$mint-green: #00b295;
$dark-mint: #009980;
$light-mint: #00bd9d;
$whisper-mint: #00bd9d25;
$loud-whisper-mint: #00bd9d6e;
$gray-1: #ccc;
$light-gray: rgb(247, 247, 247);
