# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install server deps
        working-directory: ./server
        run: yarn --frozen-lockfile
      - name: Run server tests
        working-directory: ./server
        run: yarn test:ci
      - name: Install client deps
        working-directory: ./client
        run: yarn --frozen-lockfile
      - name: Run client tests
        working-directory: ./client
        run: yarn test:ci
